tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style64
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal 2";}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
.style62
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-style-name:씳촚쫩;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font11
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:SimSun;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl66
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl67
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl69
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl72
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid black;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl73
	{mso-style-parent:style0;
	mso-number-format:"yyyy\\-mm\\-dd";}
.xl74
	{mso-style-parent:style0;
	color:windowtext;}
.xl75
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	font-size:10.0pt;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl80
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:"\@";
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl81
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:1;}
.xl82
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;
	padding-left:60px;
	mso-char-indent-count:2;}
.xl83
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:justify;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\@";
	text-align:justify;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFF3CB;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\@";
	text-align:justify;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFF3CB;
	mso-pattern:black none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:justify;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFF3CB;
	mso-pattern:black none;
	white-space:normal;}
.xl88
	{mso-style-parent:style0;
	font-size:10.0pt;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFF3CB;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl90
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid black;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	mso-number-format:"yyyy\\-mm\\-dd";
	border:.5pt solid windowtext;}
.xl93
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl94
	{mso-style-parent:style0;
	mso-number-format:"yyyy\\-mm\\-dd";
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl95
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl96
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl97
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl99
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl100
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl101
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl102
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl103
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style64;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#92D050;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#92D050;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#92D050;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl109
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:1;}
.xl110
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;
	padding-left:60px;
	mso-char-indent-count:2;}
.xl111
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#92D050;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid black;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#92D050;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid black;
	background:#92D050;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl116
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl117
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl118
	{mso-style-parent:style62;
	color:#0563C1;
	font-size:10.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:white;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:white;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl122
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl123
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid black;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl124
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl125
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl126
	{mso-style-parent:style0;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:justify;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl127
	{mso-style-parent:style0;
	font-size:10.0pt;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl128
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
