@charset "utf-8";
/*--mainnav style--*/
div#contact{width:232px;margin-left:-232px;padding-left:30px;position:fixed;top:81px;left:0;z-index:99999;}
#mainnavbg{background:url(../images/mainnav_bg.png) repeat-y 0 0;width:202px;position:relative;max-height:500px;overflow-x:hidden;overflow-y:auto;padding:0 0 5px 0;}
#mainnavtop{background:url(../images/mainnav_top.png) no-repeat 0 0;height:9px;overflow:hidden;width:200px;}
#mainnavbottom{background:url(../images/mainnav_bottom.png) no-repeat 0 100%;height:9px;overflow:hidden;width:202px;}
#navcontainer{margin:0 0 0 2px;zoom:1;}
#mainMenu li{position:relative;zoom:1;}
#navcontainer .mhide{background:url(../images/nav_hide.png) no-repeat 0 0;color:#04124a;display:block;font-weight:700;height:29px;line-height:30px;margin:0 0 3px;outline:none;padding:0 10px 0 25px;width:185px;}
#navcontainer .mhide:hover{color:#04124a;}
#navcontainer a{display:block;color:#072f74;outline:none;}
#navcontainer a:hover{color:#072f74;}
#navcontainer .amenu{background:url(../images/nav.png) no-repeat 0 0;color:#072f74;display:block;height:27px;line-height:28px;outline:none;padding:0 10px 0 25px;width:189px;}
#navcontainer .amenu a{width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#navcontainer .amenu:hover{background:url(../images/nav_hover.png) no-repeat 0 0;color:#081446;}
#navcontainer span.selected{background:url(../images/nav_clicked.png) no-repeat 0 0;color:#081446;display:block;height:27px;width:100%;}
#navcontainer .mblock{background:url(../images/nav_show_bg.png) no-repeat bottom left;margin:-5px 0 0;padding:0 0 7px;zoom:1;}
#navcontainer .tblock{_margin:0 38px 0 0;background:url(../images/tblock_bg.png) repeat-y top left;margin:0 8px 0 0;zoom:1;}
#navcontainer .tblock a{background:none;display:block;height:27px;line-height:28px;text-overflow:ellipsis;white-space:nowrap;width:100%;}
#navcontainer .tblock a:hover{color:#000518;}
.treeview a.selected{background:none;}

/*sub*/
.subhide{left:-9999px;position:absolute;top:-13px;width:326px;z-index:9999;}
.subside{left:184px;position:absolute;top:-13px;width:326px;z-index:9999;}
.subtop{background:url(../images/subnav_top.png) no-repeat 0 0;font-size:0;height:15px;overflow:hidden;}
.submain{background:url(../images/subnav_bg.png) repeat-y 0 0;overflow:hidden;padding:0 14px;}
.submain ol li{float:left;position:relative;}
.subarrow{background:url(../images/subnav_arrow.png) repeat-y 0 0;height:9px;left:8px;position:absolute;top:22px;width:6px;}
.submain span:hover{background:url(../images/subnav_li_hover.png) repeat-x 0 0;color:#081446;}
.subbottom{background:url(../images/subnav_bottom.png) no-repeat 0 0;font-size:0;height:15px;overflow:hidden;}
#mainMenu,#mainMenu ul{position:relative;}
.submain span,.submain a{color:#081446;display:block;height:27px;line-height:28px;overflow:hidden;padding-left:24px;text-overflow:ellipsis;white-space:nowrap;width:125px;}
.submain ul.suba a,.submain ul.suba span{background:url(../images/subnav_li.png) repeat-x 0 0;color:#081446;text-overflow:ellipsis;white-space:nowrap;width:274px;}
.submain ul.suba a:hover,.submain ul.suba span:hover,.submain a:hover{background:url(../images/subnav_li_hover.png) repeat-x 0 0;}
/*hide btn*/
div#holder{color:#fff;cursor:pointer;height:100px;width:37px;margin-left:-2px;overflow:hidden;position:absolute;left:0;top:81px;z-index:100000;text-indent:-100000px;}
div.holdHide{background:url(../images/navbutton_hide.png) no-repeat 0 0;}
div.holdShow{background:url(../images/navbutton_show.png) no-repeat 0 0;}
div.holdHide:hover,div.holdShow:hover{background-position: -37px 0;}

/*--jqtree--*/
.treeview-famfamfam .hitarea,.treeview-famfamfam li.lastCollapsable,.treeview-famfamfam li.lastExpandable{background-image: url(../images/treeview-famfamfam.gif);}