
@charset "utf-8";
.fixedtable{table-layout:fixed;width:100%;}
.arrow1{background:url(../images/arrow1.png) no-repeat 0 0;display:block;height:18px;position:absolute;right:0;top:8px;width:19px;}
.arrow2{background:url(../images/arrow2.png) no-repeat 0 0;display:block;height:18px;position:absolute;right:0;top:8px;width:19px;}
.box{cursor:move;margin:0 3px;width:100%;}
.box .t{border-color:transparent transparent #fff;border-style:dashed dashed solid;border-width:0 3px 3px;filter:alpha(opacity=60);font-size:0;height:0;opacity:0.6;overflow:hidden;}
.box .c{background:#fff;filter:alpha(opacity=60);height:100px;opacity:0.6;}
.box .f{border-color:#fff transparent transparent;border-style:solid dashed dashed;border-width:3px 3px 0;filter:alpha(opacity=60);font-size:0;height:0;opacity:0.6;overflow:hidden;}
.box #boxcontent{color:ff7e00;font-size:12px;padding:15px;}

/*--RWA贷前测算--*/
td.maxminbg input{background:url(../images/maxminbg.png) no-repeat 0 0;padding:0 0 4px;margin:0;width:22px;height:22px;border:none;}
@media screen and -webkit-min-device-pixel-ratio0 {
td.maxminbg input{background:url(../images/maxminbg.png) no-repeat 0 0;padding:0;margin:0;width:22px;height:22px;border:none;}
}

/*--treeMenu--指标库索引功能--*/
.treeMenu img.s{cursor:pointer;vertical-align:middle;}
.treeMenu ul{padding:0;}
.treeMenu li{list-style:none;padding:5px 0 0 10px;}
.Closed ul{display:none;}
.Child img.s{cursor:default;}
#ReportTreeMenu ul{margin:0 0 0 12px;}
#ReportTreeMenu ul li a{color:#333434;}
#ReportTreeMenu .Opened img.s{background:url(../images/treeopened.gif) no-repeat 0 0;width:9px;height:9px;margin:0 5px 2px;}
#ReportTreeMenu .Closed img.s{background:url(../images/treeclosed.gif) no-repeat 0 0;width:9px;height:9px;margin:0 5px 2px;}
#ReportTreeMenu .Child img.s{background:url(../images/report_DataList.gif) no-repeat 0 0;width:15px;height:15px;margin:0 5px 2px;}
#ReportTreeMenu .Child img.instrument{background:url(../images/report_Instrument.gif) no-repeat 0 0;}
#ReportTreeMenu .Child img.curve{background:url(../images/report_Curve.gif) no-repeat 0 0;}
#ReportTreeMenu .Child img.histogram{background:url(../images/report_Histogram.gif) no-repeat 0 0;}
#ReportTreeMenu .Child img.scattergram{background:url(../images/report_Scattergram.gif) no-repeat 0 0;}
#ReportTreeMenu .Child img.piechart{background:url(../images/report_PieChart.gif) no-repeat 0 0;}
#ReportTreeMenu .Child img.datalist{background:url(../images/report_DataList.gif) no-repeat 0 0;}

/*Temp CSS for View Demo*/
.treeMenu{color:inherit;padding:10px 0;overflow-y:auto;overflow-x:hidden;height:120px;}

/*预警tab页*/
#showtabs{background:url(../images/showtab_bg.png) repeat-x 0 0;font-size:12px;height:39px;line-height:14px;width:100%;}
#showtabs ul{list-style:none;padding:3px 20px 0;}
#showtabs li{display:inline;}
#showtabs a{-moz-outline-style:none;background:url(../images/showtab_left.png) no-repeat 0 0;float:left;outline:none;padding:0 2px 0 7px;}
#showtabs a span{-moz-outline-style:none;background:url(../images/showtab_right.png) no-repeat 100% 0;color:#000;display:block;float:none;outline:none;padding:12px 17px 9px 11px;}
/*End IE5-Mac hack*/
#showtabs a:hover span,#showtabs .clicked span{background-position:100% -35px;color:red;}
#showtabs a:hover,#showtabs .clicked{background-position:0 -35px;}

/*--报表基本信息列表--*/
.detailform{width:100%;}
.detailform th,.detailform td{padding:0 3px;height:22px;line-height:22px;border:1px solid #d2d2d2;vertical-align:top;}
.detailform td.tdtitle{background:url(../images/detailform_th.png) repeat-x 0 0;text-align:center;height:24px;line-height:24px;font-weight:bold;}
.detailform th{color:#2d2d2d;font-weight:bold;text-align:right;}
.detailform td{overflow:hidden;background:#fcfafa;color:#4d4d4d;}
div.tdtitle{background:url(../images/detailform_th.png) repeat-x 0 0;text-align:right;height:24px;line-height:24px;padding:0 20px;}
div.tdtitle a{color:#0A70BC;}
div.tdtitle a:hover{color:#0A70BC;}
.detailform td a{color:#0A70BC;;}
.detailform td a:hover{color:#0A70BC;}

.portletline{background:#fff;border:none;}
.reportdate{background:#fff;border:1px solid #b0cbea;height:150px;padding:2px;}

/*--报表库索引功能--*/
.more{background:url(../images/more.png) no-repeat 0 0;cursor:pointer;display:block;height:20px;outline:none;position:absolute;right:0;top:8px;width:78px;}
.more:hover{background:url(../images/more_hover.png) no-repeat 0 0;}
div.contentline2{width:auto;}
.block_container{width:100%;}

/*--我的工作任务--*/
.jobtable{background:#fff url(../images/jobtable_bg.png) 100% 100% no-repeat;table-layout:fixed;width:100%;}
.jobtable tr{height:0;}
.jobtable .thwidth{width:85px;}
.jobtable th,.jobtable td{height:28px;line-height:28px;padding:0 10px;white-space:nowrap;word-break:keep-all;}
.jobtable th{background:#fff url(../images/title_bg.png) 0 0 repeat-x;color:#03142e;text-align:left;}
.jobtable td{border-bottom:1px solid #f1f0f1;overflow:hidden;text-overflow:ellipsis;}
.jobtable a:link,.jobtable a:visited,.jobtable a:active{color:#565353;}
.jobtable a:hover{color:#ea0929;}
.jobtable b{display:inline-block;background:url(../images/icon_list.png) 5px 9px no-repeat;width:15px;height:28px;vertical-align:middle;}
.OverDueTask{background:url(../images/OverDueTask.png) 100% 6px no-repeat;color:#3B3232;display:block;height:20px;text-align:left;width:82px;}
.DueTask{background:url(../images/DueTask.png) 100% 6px no-repeat;color:#3B3232;display:block;height:20px;text-align:left;width:82px;}
.NormalTask{background:none;color:#3B3232;display:block;height:20px;text-align:left;width:82px;}

/*--work--*/
.tabframe0{margin:0;width:100%;table-layout:fixed;}
.tabframe0 th,.tabframe0 td{border:1px solid #c4c4c4;padding:5px;word-break:keep-all;line-height:21px;color:#6c6c6c;}
.tabframe0 th{font-weight:bold;text-align:right;vertical-align:top;}
.tabframe0 td{overflow:hidden;background:#fff;word-break:break-all;word-wrap:break-word;}
.frameline{border-left:1px solid #5bacf1;border-right:1px solid #5bacf1;padding:4px;}

/*--指标库与报表库的关联功能--*/
.tabframe0 em,.tabframe1 em{color:red;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-style:normal;font-weight:bold;margin:0 4px 0 0;}
.tabframe2{border:0;margin:0;width:100%;background:none;}
.tabframe2 th,.tabframe2 td{border:0;padding:5px;word-break:keep-all;word-wrap:break-word;white-space:nowrap;line-height:21px;color:#03142e;}
.tabframe2 th{font-weight:bold;text-align:right;}
.tabframe2 td{overflow:hidden;}
.tabframe2 tr{border-bottom:1px solid #f1f0f1;}
.tabframe2 br{display:none;}

/*--报表库索引功能--*/
.tabframe3{width:100%;}
.tabframe3 th,.tabframe3 td{border:1px solid #a2a2a2;height:20px;line-height:20px;padding:3px;word-break:keep-all;word-wrap:break-word;}
.tabframe3 th{background:#f1f0f1;color:#333;font-weight:400;text-align:left;}
.tabframe3 td{background:#fff;color:#031834;overflow:hidden;}
.tabframe3 td.tdtitle{background:#dbdbdb url(../images/table_top_bg.png) repeat-x 0 0;color:#423936;font-weight:bold;text-align:center;}
.tabframe3 a{color:#ed4343;outline:none;}
.tabframe3 a:hover{color:#0d4eaf;}
.tabframe3 td a.morereport{background:url(../images/more_report.png) no-repeat 0 0;height:24px;line-height:20px;outline:none;width:108px;float:right;display:inline-block;}
.textcontent{background:#fff url(../images/content_bg.jpg) no-repeat 100% 100%;height:100%;table-layout:fixed;}
.textcontent th{border-bottom:1px solid #5e9bf6;color::#1837bb;font-size:13px;min-height:30px;padding:4px;text-align:center;}
.textcontent td{font-size:12px;padding:4px;vertical-align:top;word-break:break-all;word-wrap:break-word;}

/*--RWA贷前测算--*/

/*--指标库与报表库的关联功能--*/
.anindex{background:url(../images/anmenuli_bg.png) no-repeat 0 0;display:block;height:27px;line-height:27px;padding:0 10px 0 20px;width:197px;}
.anindex:hover{background:url(../images/anmenuli_hover.png) no-repeat 0 0;}
.selected{background-color:#ecf0f3;color:ff0000;}
.selected2{background:url(../images/anmenuli_selected.png) no-repeat 0 0;height:27px;line-height:27px;padding:0 10px 0 20px;width:197px;}
.customerQueryInput{width:198px;}
.selectable{cursor:pointer;}
span.recordCounter{background:none;}
.printtitle td{line-height:14px;text-align:center;text-decoration:none;}
.printtable{line-height:14px;table-layout:fixed;text-decoration:none;word-break:break-all;word-wrap:break-word;}
.printtable td,.printtable th{border:1px solid #000;}
.printtable td{text-align:left;}
.thright{text-align:right;}
.bigtitle{background-color:#CCC;font-weight:bold;text-align:center;}
.tdheight{height:65px;}
textarea.error,input.error{border-color:red;border-style:dotted;}
label.error{background:url(../images/unchecked.gif) no-repeat;margin-left:.3em;padding-left:16px;}
label.valid{background:url(../images/checked.gif) no-repeat;display:block;height:16px;width:16px;}
.warnMessage,.errorMessage{color:red;}

/*--我的常用工具--*/
.toolul{overflow:hidden;padding:15px;}
.toolul li{background:url(../images/tool_l.png) no-repeat 0 0;float:left;margin:2px;padding:0 0 0 17px;min-height:45px;min-width:18%;position:relative;}
div.toolr{background:url(../images/tool_r.png) no-repeat 100% 0;height:42px;padding:3px 14px 0 0;}
.tooltitle{font-weight:bold;height:42px;line-height:40px;text-align:left;text-shadow:1px 1px 2px #fff;}
.tooltitle a {color:#472424;margin-left:5px;}
.tooltitle a:hover{color:#e62222;}
.toolul a.toola{background:url(../images/ui_close.png) no-repeat 0 0;display:block;height:24px;width:24px;position:absolute;right:-4px;top:-2px;}
.toolul a.toola:hover{background-position:0 -24px;}

/*--权限管理样式--*/
.limits{background:#d9d9d9;border-left:1px solid #aaa;border-right:1px solid #aaa;height:31px;position:relative;}
.limitsl{background:url(../images/limits_shadow.png) no-repeat 0 0;float:left;height:31px;width:5px;}
.limitsbg{background:url(../images/limits_bg.png) repeat-x 0 0;color:#3b3232;float:left;font-weight:bold;height:31px;line-height:31px;min-width:170px;text-align:center;}
.limitsr{background:url(../images/limits_r.png) no-repeat 0 0;float:left;height:31px;width:58px;}
.listmore{background:url(../images/list_more.png) no-repeat 0 0;cursor:pointer;display:block;height:21px;outline:none;position:absolute;right:10px;top:6px;width:61px;}
.limitstable{border-left:1px solid #5e9bf6;border-right:1px solid #5e9bf6;table-layout:fixed;width:100%;}
.limitstable th,.limitstable td{border-bottom:1px solid #5e9bf6;color:#072141;height:25px;line-height:25px;padding:0 6px;white-space:nowrap;word-break:keep-all;}
.limitstable th{background:#edf2f8;}
.limitstable td{background:#fff;}
.limitstable a{color:#e06419;outline:none;}
.limitstable a:hover{color:#765d0f;}

/*--我的报告收藏夹--*/
.listdate{color:#3b3232;float:right;height:26px;line-height:26px;}
.listul li{background:url(../images/li_arrow.png) no-repeat 10px 13px;border-bottom:1px dashed #d8d8d8;padding:0 18px;}
.listul li:hover{background:#fbfaee url(../images/li_arrow.png) no-repeat 10px 13px;}
.listul li a{color:#333;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:75%;height:26px;line-height:26px;}
.listul div.s{float:left;height:15px;margin:7px 5px 0 0;width:15px;}
.listul div.instrument{background:url(../images/report_Instrument.gif) no-repeat 0 0;}
.listul div.curve{background:url(../images/report_Curve.gif) no-repeat 0 0;}
.listul div.histogram{background:url(../images/report_Histogram.gif) no-repeat 0 0}
.listul div.scattergram{background:url(../images/report_Scattergram.gif) no-repeat 0 0;}
.listul div.piechart{background:url(../images/report_PieChart.gif) no-repeat 0 0;}
.listul div.datalist{background:url(../images/report_DataList.gif) no-repeat 0 0;}
.listul span.close{background:url(../images/close.png) no-repeat 0 0;cursor:pointer;display:block;height:16px;position:relative;float:right;top:7px;width:16px;}

.validateTips{border:1px solid transparent;color:#8B0000;padding:.3em;}
.ui-highlight{background:#fbf9ee;border:1px solid #fcefa1;color:#cd0a0a;}
.ui-state-error{background:#fef1ec;border:1px solid #cd0a0a;}
.disabledInput{background:#F0F8FF;border:1px solid #669bdc;}
.printtitle td{font-family:Arial, Helvetica, sans-serif, 宋体;font-size:13px;line-height:14px;text-align:center;text-decoration:none;}
.printtable{font-family:Arial, Helvetica, sans-serif, 宋体;font-size:12px;line-height:14px;table-layout:fixed;text-decoration:none;word-break:break-all;word-wrap:break-word;}
.printtable td,.printtable th{border:1px solid #000;}
.printtable td{text-align:left;}
.thright{text-align:right;}
.bigtitle{background-color:#CCC;font-weight:bold;text-align:center;}
.tdheight{height:65px;}

/*--关键指标多维分析样式--*/
.zblistfloat{width:600px;}
.zblistfloat span{/*--订制我的关键指标--*/
	float:left;
	width:180px;
	margin-left:10px;
}
.flow{overflow:hidden;}
.checkdiv{padding:1px 0;}
.checkul{background:url(../images/check_bg.png) 0 0 repeat;line-height:30px;overflow:hidden;}
.checkmove{background:url(../images/checkmove.png) no-repeat 0 0;display:block;height:17px;position:absolute;right:0;top:6px;width:17px;}
.checkul li{float:left;height:30px;line-height:30px;padding:0;position:relative;width:240px;padding-left:10px;}
.checkul li:hover{background:#ECF0F3}
.checkul .checkbox{float:left;margin:6px 6px 0 8px;}
.checkul .checka{background:url(../images/check_a.png) 0 0 no-repeat;cursor:pointer;display:block;height:11px;position:absolute;right:8px;top:8px;width:19px;}
.checkul a{background:none;color:#071036;display:block;float:left;height:30px;line-height:30px;min-width:150px;padding:0;}
.checkboxadd a{background:none;color:#071036;display:block;float:left;height:30px;line-height:30px;min-width:236px;padding-left:32px;}
.checkboxadd .checked{background:#2157d7;color:#fff;}
.checkboxall a{background:#e4edf7;color:#482a06;display:block;float:left;height:30px;line-height:30px;min-width:100%;padding-left:12px;}
.checkboxall a:hover{background:#eff4fa;}
.checkboxall .checked{background:#2157d7;}
.checkboxadd,.checkboxall{background:url(../images/check_bg.png) 0 0 repeat;overflow:hidden;padding:0;}
/*tab样式*//* Commented Backslash Hack hides rule from IE5-Mac \*/
#showtabs a span{float:none;}
/*End IE5-Mac hack*/
#showtabs a:hover span,#showtabs .checked span{background-position:100% -35px;color:red;}
#showtabs a:hover,#showtabs .checked{background-position:0 -35px;}
/*menu3*/
#showtabs{background:url(../images/showtab_bg.png) repeat-x 0 0;font-size:12px;height:39px;line-height:14px;width:100%;}
#showtabs ul{list-style:none;padding:3px 20px 0;}
#showtabs li{display:inline;}
#showtabs a{-moz-outline-style:none;background:url(../images/showtab_left.png) no-repeat 0 0;float:left;outline:none;padding:0 2px 0 7px;}
#showtabs a span{-moz-outline-style:none;background:url(../images/showtab_right.png) no-repeat 100% 0;color:#000;display:block;float:left;outline:none;padding:12px 17px 9px 11px;}

/*--政策制度小窗口样式--*/
.policyul{padding:6px 0;background:none;overflow:hidden;}
.policyul li{padding:2px;float:left;}
.policy_icon{display:block;height:42px;width:150px;}
.policy_icon_01{background:url(../images/policy_icon_01.png) no-repeat 0 0;}
.policy_icon_02{background:url(../images/policy_icon_02.png) no-repeat 0 0;}
.policy_icon_03{background:url(../images/policy_icon_03.png) no-repeat 0 0;}
.policy_icon_04{background:url(../images/policy_icon_04.png) no-repeat 0 0;}
.policy_icon_05{background:url(../images/policy_icon_05.png) no-repeat 0 0;}

/*--错误信息小窗口样式--*/
.errorwin{background:url(../images/error_bg.png) no-repeat 0 0;display:block;height:110px;left:50%;margin-left:-200px;padding:10px;position:absolute;top:140px;width:275px;}
.errorimg{background:url(../images/error_img.png) no-repeat 0 0;display:block;float:left;height:63px;margin:6px;width:47px;}
.errortxt{display:block;float:left;height:63px;padding:10px;width:180px;}
.errorbutton{padding-right:10px;text-align:right;}
th.disabledText{color:grey;}
.hiddenColumn{display:none;}

/*客户信息查询*/
.buttonside{padding:10px 10px 10px 20px;line-height:22px;}

/*--风险加权资产试算--*/
.fengxian_tablebg{background-color:#ffcfcf;filter:alpha(opacity=50);display:none;}

/*--参数管理--dl table--指标库/指标信息配置--*/
.dlTable{width:100%;border:1px solid #ccc;border-bottom:none;margin:0 auto;}
.dlTable dt{background:#6fa4e8 url(../images/th_title_bg.png) repeat-x 0 0;color:#222;}
.dlTable dt b{font-weight:700;}
.dlTable dt,.dlTable span{height:28px;line-height:28px;border-bottom:1px solid #ccc;overflow:hidden;}
.dlTable span{display:block;width:100%;}
.dlTable span input{margin:6px 4px;}
.dlTable dt b,.dlTable span b{display:line-block;float:right;border-left:1px solid #ccc;text-indent:0;text-align:center;padding:0 8px;min-width:30%;height:28px;line-height:28px;}

#button_banner input{margin:5px 0 5px 5px;}

table.factor_table th{text-align:left;}
.zishiyingheight{
max-height:680px; /*最大高度，在ie7等浏览器有效*/
height:expression(width>680?"680px":height+"px"); /*在ie6有效*/
overflow-y:auto; /*滚动条自动，小于680没有滚动条，大于680出现滚动条*/
}
/*-- 首页仪表盘样式（信用风险）--*/
.ybplan{width:50%;float:left;background:#fff;}
.yibiaopan{height:194px;width:100%;}

/*-- 补录模板定制样式--*/
.tablestyletitle td{
	line-height:30px;
	color:#333;
	cursor:pointer;
	text-align:center;
}
.bulu_xuanzhong{
	background:#F3F3F3;
}
.buluupfiles{position:absolute;top:5px;left:135px;height:32px;filter:alpha(opacity:0);opacity:0;width:50px;cursor:pointer;}
.file-box{ position:relative;width:200px;float:left;line-height:30px;height:30px;}
.otherbutton{line-height:30px;height:30px; position:absolute;margin-left:200px;}

/*--用户组织角色管理--*/
.zuzhilist span{
	float:left;
	width:210px;
	margin:10px 5px 0 10px;
}
 .listtree{
 max-height:400px; /*最大高度，在ie7等浏览器有效*/
  height:expression(width>400?"400px":height+"px"); /*在ie6有效*/
  overflow-y:auto; /*滚动条自动，小于480没有滚动条，大于480出现滚动条*/
 }
 
 /*--工作任务管理-任务生成列表项--*/
  .departmentlist td{
   padding-left:10px;
 }
 .departmentlist span{
 width:150px;
 float:left;
 }
 /*--数据核对加工-仿select--*/
 .select_box {width:200px; position:relative; margin:0px;padding:0; font-size:12px; z-index:5;}
.submit_box {width:230px; position:relative; margin:0px;padding:0; font-size:12px; text-align:center;}
ul,li {list-style-type:none; padding:0; margin:0}
.select_box input.inputselect {cursor:pointer; display:block; line-height:25px; width:100%; height:25px; overflow:hidden;border:1px solid #A2A2A2; padding-right:20px; padding-left:10px; background:url(../images/select_input_bg.gif) no-repeat 210px center;}
.select_box ul {width:230px; position:absolute; left:0; top:25px; border:1px solid #A2A2A2; background:#fff; overflow: hidden;display:none; background:#fff; z-index:99999;}
.select_box ul li {display:block;height:30px;overflow:hidden;line-height:30px;padding-left:5px;width:100%;cursor:pointer; white-space:nowarp;}
.select_box input.inputcheckbox{
	margin-top:0px;
}
/*--我的常用工具--*/
.dashline{
	color:#4444444;
	border:1px border #9f9f9f;
	margin:10px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#9f9f9f,direction=120,strength=8);/*ie*/
-moz-box-shadow: 2px 2px 10px #9f9f9f;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #9f9f9f;/*safari或chrome*/
box-shadow:2px 2px 10px #9f9f9f;/*opera或ie9*/
    overflow:hidden;
}

/*--首页幻灯图--*/
/*#ipic{position:relative;z-index:1;width:100%;height:236px;padding:4px;overflow:hidden;}*/
/*modify line 319 z-index:1*/
#ipic{position:relative;z-index:0;width:100%;height:236px;padding:4px;overflow:hidden;}
#ipic dl{position:absolute;z-index:2;top:4px;left:4px;width:100%;height:236px;overflow:hidden;}
#ipic dt{position:absolute;z-index:3;top:0;left:0;overflow:hidden;}
#ipic dt,#ipic dt img{ width:100%; height:100%; z-index:999;}
/*modify line 322*/
#ipic dd{position:absolute;z-index:4;bottom:0;left:0;width:100%;height:35px;color:#FFF;overflow:hidden;background-color:#000;opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
#ipic h3{margin:0 auto;width:100%;height:34px;line-height:34px;text-align:left;overflow:hidden;font-size:14px;padding-left:20px;}
#ipic p{margin:0 auto;width:100%;height:17px;line-height:17px;text-align:left;overflow:hidden;}
#ipic p a:link,#ipic p a:visited,#ipic p a:hover{color:#FFF;}
p#ilist{position:absolute;z-index:5;bottom:4px;right:4px;width:120px;height:19px;text-align:right;overflow:hidden;}
p#ilist a:link,p#ilist a:visited,p#ilist a:hover{float:left;width:24px;height:19px;text-align:center;color:#FFF;line-height:20px;text-decoration:none;background:transparent url(./img/yn-tab.gif) -24px 0 no-repeat;}
p#ilist a:hover,p#ilist a.current:link,p#ilist a.current:visited,p#ilist a.current:hover{background:transparent url(./img/yn-tab.gif) 0 0 no-repeat;width:24px;}

/*--压力测试--*/
.zuhepic{
	background:url(../images/testing.png) no-repeat;
	width:820px;
	height:447px;
	margin:0 auto;
}
.zuheorb{
	position:relative;
	left:88px;
	top:40px;
	height:84px;
}
.zuheorg{
	width:140px;
	height:64px;
	padding:5px 8px;
	float:left;
}
.zuhered{
	width:130px;
	height:64px;
	padding:5px 8px;
	float:left;	
	margin-left:90px;
}
.zuheblue{
	width:140px;
	height:64px;
	padding:5px 8px;
	float:left;	
	margin-left:85px;
}
.zuheorg span,.zuhered span,.zuheblue span,.zuhel span,.zuhelc span,.zuherc span,.zuher span{
	font-size:12px;
	color:#fff;
	font-weight:bold;
	line-height:16px;
}
.zuhegb{
	margin-top:155px;
	height:155px;
}
.zuhel{
	margin-left:25px;
	padding:5px 8px;
	width:154px;
	height:132px;
	float:left;
}
.zuhelc,.zuherc,.zuher{
	margin-left:30px;
	padding:5px 8px;
	width:154px;
	height:132px;
	float:left;
}



div.xxMessage {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 1px 1px 6px #999999;
    display: none;
    left: 65px;
    overflow: hidden;
    padding: 10px 30px;
    position: fixed;
    top: 525px;
    z-index: 100;
}

div.xxMessage .messageContent {
    color: #666666;
    line-height: 24px;
    padding: 0 10px 0 10px;
}
